* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat', 'sans-serif';
    text-align: 'center';
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat';
}

.navbar-brand {
	font-family: "Ubuntu";
	font-size: 2.5rem;
}

.container {
    padding: 7% 15%;
}


