.card {
  border: hidden;
}

.card-text {
  font-size: 14px !important;
  font-family: 'spartan', sans-serif !important;
}


.card-header {
  background: #3789C2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #4794CA, #3789C2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #4794CA, #3789C2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
  color: white;
}

.carousel-card-img-wrapper {
   height: 100px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    margin: 10% 0;
    overflow: hidden;
}

.card-body.carousel-card {
    padding-bottom: 10%;
    padding-top: 10%;
} 

.icn-spinner {
    animation: spin-animation 15s infinite;
    animation-timing-function: linear;
    display: inline-block;
    color: #61DBFB;
  }
  
  @keyframes spin-animation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @media screen and (max-width: 800px)  {
    .card-text {
      font-size: 12px !important;
    }
  }