.weather-wrapper {
    margin-top: 37% !important;
}

.accordion-item { 
    background: transparent !important;
}

button.accordion-button {
    background: transparent !important;
    color: white !important;
}

.accordion-button:after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 0 0' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
  }

.accordion {
    margin-top: 50px;
    position: relative;
    display: flex;
    justify-content: left;
    padding-left: 0%;
    right: 20px;
}

.accordion-item {
    border: hidden !important;
    color: none;
}

.accordion-header {
    color: whitesmoke;
}

.weather {
    color: whitesmoke;
    font-size: 10px;
}

@media screen and (max-width: 800px ){
    .weather-wrapper {
        margin-top: 110% !important;
    }
}