#footer {
    text-align: center;
    background-color: whitesmoke;
}

.copyright {
    font-size: 12px !important;
}

.container {
    padding: 5% 10%;
}

.container p {
    color: #8f8f8f;
}

.fab, .far, .fas {
	margin: 20px 10px;
}

.container a {
    color: black;
}

@media screen and (max-width: 800px) {
    .copyright {
        font-size: 8px !important;
    }
}
