h3 {
    line-height: 1.5;
    font-size: 24px;
}

p {
	color: #8f8f8f;
    font-size: 24px !important;
    line-height: 1.5;
}




.section-heading {
    text-align: center;
    font-weight: bolder;
	font-size: 64px;
    background: #36D1DC;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #5B86E5, #36D1DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: -0.05em;
}

.about-container {
    padding: 20% 20% 2% 20%;
    overflow-x:hidden !important;
    width: 100% !important;
}

.carousel-inner, .carousel-item, .fab {
    display: inline-block;
}

#about-section {
    padding-bottom: 30%;
}

/* img {
    height: "800";
    width: "400";
} */



